
*{
    background-color: #274257;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
}
    

img {
    display: block;
    border: 5px solid;
    margin: auto ;
    width: 50%;
    padding: 10px;
    border-radius: 25px;

}

ol, ul, h2, p {
    text-align: center;
    font-size: 30px;
}